%%-*- mode: erlang -*-

{deps, []}.
{erl_opts, [tuple_calls]}.
{relx, [
    {release, {ircbot, "1.0.0"}, [ircbot]},
    {extended_start_script, false},
    %% Don't ship an Erlang VM by default
    {include_erts, false},
    {system_libs, false},
    {include_src, false},
    {dev_mode, false},
    {vm_args, "./config/vm.args"}
]}.
