%%-*- mode: erlang -*-

{deps, []}.
{erl_opts, [tuple_calls]}.

{profiles, [
    {prod, [
        {relx, [{dev_mode, false}]}
    ]}
]}.

{relx, [
    {release, {ircbot, semver},
         [ircbot]},

    {dev_mode, true},
    {include_erts, false},
    {include_src, false},
    {extended_start_script, true}
]}.

{shell, [{apps, []}, {script_file, "config/dev.escript"}]}.
{minimum_otp_vsn, "23.0"}.
