%%-*- mode: erlang -*-

{edoc_opts, [
    {application, ["ircbot"]}
    ]}.

{deps, [
    %% couchbeam for logging (and some of its util functions)
    {couchbeam, ".*", {git, "git://github.com/benoitc/couchbeam.git","master"}},
    {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", "master"}}
]}.
