{connection, [
    {name, {local, freenode}},
    {nickname, "erlbot--"},
    {server,   {"chat.freenode.net", 6667}},
    {channels, [
        "#lugola",
        "#razmjenavjestina",
        "#nsnd",
        "#hklbgd",
        "#ubuntu-mk",
        "#it.com.mk",
        "#manganacija",
        "#luvit",
        "#devbin",
        "#drupal-balkan"
    ]},
    {plugins, [
        {'ircbot_plugin_uptime', []},
        {'ircbot_plugin_nickserv', ["<nickserv password>"]},
        {'ircbot_plugin_viewer', []},
        {'ircbot_plugin_autojoin', []},
        {'ircbot_plugin_ping', []},
        {'ircbot_plugin_help', []},
    ]}
]}.
