%%% Be carefull with the syntax of this file. The contents must be proper
%%% Erlang terms. See http://www.erlang.org/doc/man/file.html#consult-1

{connection, [
    {nickname, "erlbot_test"},
    {server,   {"chat.freenode.net", 6667}},
    {channels, ["#erlbot_test"]}
]}.

{connection, [
    {nickname, "erlbot_test"},
    {server,   {"irc.oftc.net", 6667}},
    {channels, ["#erlbot_test"]}
]}.
